body {
    background-color: #87CEEB;
    display:block;
}

/*.viewport{
    margin-top: 20vh;
    width:50vw;
    height:50vh;
    margin-left: calc(50vw - 25vw);
    background-image: url(https://i.ytimg.com/vi/ZCK-mKd5mZU/hqdefault.jpg);
    display:block;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    clip-path: circle(15vw at center)
}*/

.this-is-just-for-scrolling {
    height: 200vh;
}
.matthew-fei {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: #ffffff;
    font-size: 40px;
    margin-top: 50px;
    margin-bottom: 20px;
}

.matthew-fei:hover{
  animation-name: stretch;
            animation-duration: 2.0s;
            animation-timing-function: ease-in-out;
            animation-iteration-count: one;
            animation-play-state: running;
}


@keyframes stretch {
            50% {
                transform: rotateY(20deg);
            }
            75% {
                transform: rotateY(180deg);
            }
            100% {
                transform: rotateY(360deg);
            }
        } 

