/*REFERENCE SHEET*/

h1 {

/*TEXT*/
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: #ffffff;
    font-size: 50px;


/*IMAGES*/
    background-image: url(emotiguy.jpg);
    background-size:cover;
position: fixed;
    /*Static*/
    /*Relative*/
    /*Absolute*/
    /*Fixed*/

/*BORDER*/
    border: solid 5px blue;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    

display: flex;
/*block*/
/*flex*/

justify-content: flex-end;
/*flex-start*/
/*flex-center*/
/*flex-end*/
/*space-around*/
/*space-between*/

bottom: 50px;
right: 50px;
left: 50px;
top: 50px;
}

h1:hover {
    color: #ffcc00;
    text-shadow: 2px 2px 4px #ffffff;
    transform: scale(1.1);
    transition: color 0.2s ease-in-out, text-shadow 0.2s ease-in-out, scale 0.2s ease-in-out;    
    /*ease-in-out*/
    /*ease-in*/
    /*ease-out*/
}

/*The cursor property in CSS controls the appearance of the mouse cursor when it hovers over an element.
You can use predefined values like pointer, text, wait, etc., or specify a custom image URL.*/

/* how to create custom cursor: https://blog.logrocket.com/custom-cursor-css/
*/

/* #87CEEB; Sky Blue */
/* #FF6347; Tomato */